body{background-color: #F5F5F5 ; 
    color:#40407A ;}

header{
background-color: #80CBC4 ;
color:#40407A ;
}

nav{
    background-color:#80CBC4 ;
}    

h2{
    color: #80cbc4 ;

}

dt{
    color:#80cbc4 ;

}

footer{
    background-color: #80cbc4;
}